* { box-sizing: border-box; }

html, body, #root, #main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
}

body {
  color: #fff
}

/* Overlay */

.container {
  position: absolute;
  top: 0;
  left: 0;
}

.spotify {
    z-index: 1000;
}